body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-----------------------------------ALL OF WILLIAMS STYLING FOR SIGN IN STUFF------------------------*/

.All {
  border: 4px solid silver;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 250px;
  height: 50vh;
}

.beef1 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  position: relative;
  margin-top: 60px;
}

.beef2 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  position: relative;
  margin-top: 20px;
}

.beef3 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  position: relative;
  margin-top: 20px;
}

.beef4 {
  font-size: 16px;
  width: 80%;
  padding: 2.5%;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

span {
  margin-left: 30px;
  color: gray;
}

.signin{
  text-align: center;
  margin-right: 25px;
  margin-top: 20px;
}

select {
  border: none;
}

.button {
  display: block;
  margin: auto;
  width: 300px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  background: rgb(46, 87, 177);
  border-radius: 10px;
}

/*----------------------------------END OF STYLING------------------------------------*/
